<html>
	<head></head>
	<body>
		<h1> Delete Book </h1>
		<p>Are you sure you want to delete {{book}}?<p>
		<form action = "{{url_for('delete', id = id)}}" method = POST >
				<input type="submit" id="delete_button" value="Delete"/>
				<a href="{{url_for('index')}}" method = "GET"> Cancel </a>
		</form>
	</body>
</html>