<html>
	<head></head>
	<body>
		<h1> Edit Book </h1>
		<p> Name: <p>
		<form action="{{url_for('edit', id = id)}}" method = 'POST'>
				<input type="text" name="name" placeholder="{{book}}" >
				<input type="submit" id="submit_button" value="Edit">
				<a href="{{url_for('index')}}" method = "GET"> Cancel </a>
		</form>
	</body>
</html>
