<html>
<head></head>
	<body>
 		<h1>New Book</h1>
 		<p> Search: </p>
 		<form action="{{url_for('new')}}" method = 'POST'>
 			<input type='text' size='30' name='name'>
 			<input type='submit' value='Submit'>
 		</form>
 	</body>
 </html>