<html> 
<head>
</head> 
	<body>
	<h1>Books</h1>
		{% if books == [] %}
			<p>No books exist</p>
		{% else %}
			{% for i in books %}
				<div>{{i.title}} {{i.id}}
				<br>
				<a href="{{url_for('edit',id = i.id)}}">Edit Books</a>
				<br>
				<a href="{{url_for('delete', id = i.id)}}">Delete Books</a>
				<br></br>
				</div>{% endfor %}{% endif %}  	
		<a href="{{url_for('new')}}">New Book</a>
	</body> 
</html>